In [19]:
# Задание1

import pandas as pd

ds=pd.read_csv('/Users/socks/netology/PYDA-22/Files/ml-latest-small/ratings.csv', 'r', delimiter=',')
ds[ds['rating']==5.0]['movieId'].value_counts().head(1)

318    153
Name: movieId, dtype: int64

In [17]:
# Задание2.По данным файла power.csv посчитайте суммарное потребление стран Прибалтики(Латвия, Литва и Эстония)категорий 4,12,21 
# за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

summa = 0
ds=pd.read_csv('/Users/socks/netology/10_base_pandas/power.csv', 'r', delimiter=',')
ds2=ds[(ds['year']>=2005)&(ds['year']<=2010)&(ds['quantity']>=0)]
ds3=ds2[ds2.category.isin([4,12,21])]
summa=ds3[ds3.country.str.contains('|'.join(['Lat','Lit','Est']))]['quantity'].sum()
print('суммарное потребление: {}'.format(summa))

суммарное потребление: 240580.0

In [16]:
# Задание 3. Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe. https://www.rbc.ru/crypto/

data=pd.read_html('https://www.economicsonline.co.uk/Business_economics/Costs.html')[2]

keyword_to_region_dict = revert_dict(geo_data)

def attach_region(keywords_str):
    keywords = keywords_str.lower().split(' ')
    
    for keyword in keywords:
        if keyword in keyword_to_region_dict:
            #the 1st geo-keyword matters!
            return keyword_to_region_dict[keyword]
    
    return 'undefined'

keywords_df['region'] = keywords_df['keyword'].apply(attach_region)
grouped = keywords_df.groupby('region').count().reset_index()[['region', 'keyword']]
grouped.columns = ['Регион', 'Число']
grouped.sort_values('Число', ascending=False)

        0                           1                             2
0  OUTPUT  TOTAL VARIABLE COST (£000)  AVERAGE VARIABLE COST (£000)
1       1                          50                            50
2       2                          80                            40
3       3                         100                          33.3
4       4                         110                          27.5